@mixin main {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
}

@mixin tablet {
    @media screen and (min-width: 768px) {
        @content;
    }
}

@mixin desktop {
    @media screen and (min-width: 1024px) {
        @content;
    }
}